.home-font1 {
  font-family: Spicy Rice;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 80px;
}

.home-font2 {
  font-family: Source Serif Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 63px;
}

.home-font3 {
  font-family: Source Serif Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}
